*.key
.automaton.conf
.dockercfg
auth.conf
set_credentials.sh
web-gui.cfg

.idea/
.vagrant/

vagrant*.deb
bootstrap/
bootstrap-confirmation/
bootstrapvalidator/
bower_components/
jquery/

*.pyc
launch.log
launch_demo.log
launched-clusters
web-gui.py.log
flask/demo-portal.log

