*.key
.automaton.conf
.dockercfg
auth.conf
set_credentials.sh
application.cfg
web-gui.cfg

.idea/
.vagrant/
tmp/

vagrant*.deb
bootstrap/
bootstrap-confirmation/
bootstrapvalidator/
bower_components/
jquery/
pwstrength-bootstrap/

*.pyc
launch.log
launch_demo.log
launched-clusters
web-gui.py.log
demo-portal.log

