{% extends "base.jinja2" %}

{% block head %}
{#    <link href="{{ url_for('static', filename='css/history.css') }}"#}
{#          rel="stylesheet">#}
{% endblock %}

{% block body %}
    <div class="col-md-offset-0 col-md-12">
        <h3>{{ title }}</h3>

        <table class="table table-hover">
            <tr>
                {% for key in history[0] %}
                    <th>{{ key | replace("_", " ") | title }}</th>
                {% endfor %}
            </tr>
            {% for row in history %}
                <tr>
                    {% for key, value in row.iteritems() %}
                        {% if key in ["form_variables", "get_variables"] %}
                            {% if value %}
                                <td>{{ value | tojson | safe }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% else %}
                            <td>{{ value or '' }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block tail %}
{% endblock %}
