{% extends "base.jinja2" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/pem.css') }}"
          rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="col-md-offset-3 col-md-6">
        <h3>Overview</h3>
        <ul>
            <li>Allows you to launch controlled demos.</li>
            <li>Provides simple pem key access.</li>
            <li>Does not rely on data sources outside of the EC2 instances and hub.docker.com.</li>
            <li>Simple SSH strings for easy copy-paste access.</li>
            <li>Displays demo cost if left running for the maximum time.</li>
            <li>Quick links for application and OpsCenter access.</li>
            <li>Active EC2 cleanup of TTL'd instances.</li>
            <li>Ability to extend TTL on running cluster.</li>
            <li>Allow for early demo termination.</li>
            <li>Simple source code for new Vagrant setup of Docker containers.</li>
            <li>Clean source trees for easy navigation across two GitHub repos.</li>
            <li>Full backend logging per process/user for simple debugging.</li>
            <li>'latest' and 'stable' automated Docker containers provided by hub.docker.com.</li>
            <li>Active child-container building provided by hub.docker.com.</li>
            <li>Access available to all @datastax.com email addresses.</li>
            <li>Passwords reset once a week.</li>
            <li>Ctool</li>
            <ul>
                <li>Provide a simple UI for our non-Engineering teams to demo clusters.</li>
                <li>Allow all SE/SAs to easily and efficiently standup clusters.</li>
                <li>Utilizes Test Engineering's Ctool.</li>
                <li>No setup or knowledge required to use ctool.</li>
                <li>`demo-pem` script allows for simple ssh key retrieval.</li>
                <li>On completion of the future SSO implementation, extend UI to partners and day access to classrooms.</li>
            </ul>
        </ul>
    </div>
{% endblock %}

{% block tail %}
{% endblock %}
