{% extends "base.jinja2" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/pem.css') }}"
          rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="col-md-offset-2 col-md-8">
        <h3>PEM Key</h3>
        <div class="well" id="pem-file">
            {{ pem_file }}
        </div>
        <p>
            Copy this file into your `~/.ssh` directory.
            Make sure to `chmod 600` the .pem file.
            When ssh'ing into the machine, use the `-i ~/.ssh/path.pem` option.
        </p>
    </div>
{% endblock %}

{% block tail %}
{% endblock %}
