{% extends "base.jinja2" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/pem.css') }}"
          rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="col-md-offset-3 col-md-6">
        <h3>PEM Key</h3>
        <div class="well" id="pem-file">{{ pem_file }}</div>
        <p>
            Copy this file into: ~/.datastax/demos/demo-launcher.pem
            <br/>
            Protect the file using: chmod 600 ~/.datastax/demos/demo-launcher.pem
        </p>
        <h3>demo-pem</h3>
        <p>
            Complete the following instructions to properly setup the
            <a href="/static/bin/demo-pem">demo-pem</a> tool:

            <ol>
                <li>
                    chmod +x &lt;path-to-demo-pem-file&gt;
                </li>
                <li>
                    add the following line to your `~/.profile` or `~/.bashrc`:<br>
                    export PATH=&lt;path-to-directory-containing-demo-pem-file&gt;:$PATH
                </li>
            </ol>
        </p>
    </div>
{% endblock %}

{% block tail %}
{% endblock %}
