{% extends "base.jinja2" %}

{% block head %}
    <link href="{{ url_for('static',
                   filename='bootstrapvalidator/dist/css/bootstrapValidator.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ctool.css') }}"
          rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="col-xs-offset-1 col-xs-9">
    <h3 class="col-xs-offset-1">Launch Ctool Clusters</h3>

    <datalist id="instance-type-list-gce">
        <option value="n1-standard-1">
        <option value="n1-standard-2">
        <option value="n1-standard-4">
        <option value="n1-standard-8">
        <option value="n1-standard-16">

        <option value="n1-highmem-2">
        <option value="n1-highmem-4">
        <option value="n1-highmem-8">
        <option value="n1-highmem-16">

        <option value="n1-highcpu-2">
        <option value="n1-highcpu-4">
        <option value="n1-highcpu-8">
        <option value="n1-highcpu-16">

        <option value="f1-micro">
        <option value="g1-small">
    </datalist>
    <datalist id="instance-type-list-ec2">
        <option value="CURRENT GEN">

        <option value="t2.micro">
        <option value="t2.small">
        <option value="t2.medium">

        <option value="m3.medium">
        <option value="m3.large">
        <option value="m3.xlarge">
        <option value="m3.2xlarge">

        <option value="c3.large">
        <option value="c3.xlarge">
        <option value="c3.2xlarge">
        <option value="c3.4xlarge">
        <option value="c3.8xlarge">

        <option value="g2.2xlarge">

        <option value="r3.large">
        <option value="r3.xlarge">
        <option value="r3.2xlarge">
        <option value="r3.4xlarge">
        <option value="r3.8xlarge">

        <option value="i2.xlarge">
        <option value="i2.2xlarge">
        <option value="i2.4xlarge">
        <option value="i2.8xlarge">

        <option value="hs1.8xlarge">

        <option value="PREVIOUS GEN">

        <option value="t1.micro">

        <option value="m1.small">
        <option value="m1.medium">
        <option value="m1.large">
        <option value="m1.xlarge">

        <option value="c1.medium">
        <option value="c1.xlarge">
        <option value="cc2.8xlarge">

        <option value="cg1.4xlarge">

        <option value="m2.xlarge">
        <option value="m2.2xlarge">
        <option value="m2.4xlarge">
        <option value="cr1.8xlarge">

        <option value="hi1.4xlarge">
    </datalist>
    <datalist id="platform-list">
        <option value="ubuntu">
        <option value="precise">
        <option value="trusty">
        <option value="debian">
        <option value="wheezy">
        <option value="centos">
        <option value="centos62">
        <option value="centos63">
        <option value="centos64">
        <option value="centos65">
        <option value="rhel">
        <option value="rhel65">
    </datalist>
    <datalist id="ten-count">
        <option value=1>
        <option value=2>
        <option value=3>
        <option value=4>
        <option value=5>
        <option value=6>
        <option value=7>
        <option value=8>
        <option value=9>
        <option value=10>
    </datalist>
    <datalist id="dse-version-list">
        <option value="4.7.0">
        <option value="4.6.0-1">
        <option value="4.5.5-1">
        <option value="4.5.4-1">
        <option value="4.5.3-1">
        <option value="4.5.2-1">
        <option value="4.5.1-1">
        <option value="4.5.0-1">
        <option value="4.0.5-1">
        <option value="4.0.4-1">
        <option value="4.0.3-1">
        <option value="4.0.2-1">
        <option value="4.0.1-1">
        <option value="4.0.0-1">
        <option value="3.2.9-1">
        <option value="3.2.8-1">
        <option value="3.2.7-1">
        <option value="3.2.6-1">
        <option value="3.2.5-1">
        <option value="3.2.4-1">
        <option value="3.2.3-1">
        <option value="3.2.2-1">
        <option value="3.2.1-1">
        <option value="3.2.0-1">
        <option value="3.1.6-1">
        <option value="3.1.5-1">
        <option value="3.1.4-1">
        <option value="3.1.3-1">
        <option value="3.1.2-1">
        <option value="3.1.1-1">
        <option value="3.1.0-1">
        <option value="3.0.9-1">
        <option value="3.0.8-1">
        <option value="3.0.7-1">
        <option value="3.0.6-1">
        <option value="3.0.5-1">
        <option value="3.0.4-1">
        <option value="3.0.3-1">
        <option value="3.0.2-1">
        <option value="2.1.2-1">
        <option value="2.1-2">
        <option value="2.0-1">
    </datalist>
    <datalist id="num-of-tokens-list">
        <option value=0>
        <option value=256>
    </datalist>
    <datalist id="opscenter-version-list">
        <option value="5.1.0">
        <option value="5.0.2">
        <option value="5.0.1">
        <option value="5.0.0">
        <option value="4.1.4">
        <option value="4.1.3">
        <option value="4.1.2">
        <option value="4.1.1">
        <option value="4.1.0">
        <option value="4.0.3">
        <option value="4.0.2">
        <option value="4.0.1">
        <option value="3.2.2">
        <option value="3.2.1">
        <option value="3.2.0">
        <option value="3.1.1">
        <option value="3.1.0">
        <option value="3.0.2-1">
        <option value="3.0.1-1">
        <option value="3.0.0-1">
        <option value="2.1.3-1">
        <option value="2.1.2-1">
        <option value="2.1.1-2">
        <option value="2.1-2">
        <option value="2.0-2">
        <option value="1.4.1-1">
    </datalist>

    <div class="form-border col-xs-offset-1 col-xs-10">
        <form class="form-inline" role="form" action="ctool"
              method="post" autocomplete="off"
              id="launch-form">
            <div class="row form-row">
                <div class="col-xs-4 form-col" id="clustername-col">
                    <label for="clustername">Cluster Name</label>
                    <input id="clustername" name="clustername"
                           placeholder="cluster name"
                           type="text" class="form-control">
                </div>
                <div class="col-xs-5 form-col">
                    <label>Product</label>
            <span class="radio">
                <label>
                    <input type="radio" name="product-name"
                           id="enterprise" value="enterprise"
                           checked>
                    Enterprise
                </label>
            </span>
            <span class="radio">
                <label>
                    <input type="radio" name="product-name"
                           id="cassandra" value="cassandra">
                    Cassandra
                </label>
            </span>
                </div>
                <div class="col-xs-3 form-col">
                    <label for="dse-version">DSE Version</label>
                    <input id="dse-version" name="dse-version"
                           value="4.6.0-1"
                           class="version-input"
                           type="text" list="dse-version-list"/>
                </div>
            </div>

            <div class="row form-row normal-datacenters">
                <div class="col-xs-2 form-col">
                    <label for="cassandra-nodes">Cassandra</label>
                    <input id="cassandra-nodes" name="cassandra-nodes"
                           value=0
                           class="number-input"
                           type="tel" list="ten-count"/>
                </div>
                <div class="col-xs-2 form-col">
                    <label for="spark-nodes">Spark</label>
                    <input id="spark-nodes" name="spark-nodes"
                           value=0
                           class="number-input"
                           type="tel" list="ten-count"/>
                </div>
                <div class="col-xs-2 form-col">
                    <label for="search-nodes">Search</label>
                    <input id="search-nodes" name="search-nodes"
                           value=0
                           class="number-input"
                           type="tel" list="ten-count"/>
                </div>
                <div class="col-xs-2 form-col">
                    <label for="hadoop-nodes">Hadoop</label>
                    <input id="hadoop-nodes" name="hadoop-nodes"
                           value=0
                           class="number-input"
                           type="tel" list="ten-count"/>
                </div>
            </div>

            <div class="row form-row text-center">
                <a href="#" class="configure-datacenters">
                    -- configure advanced data centers --
                </a>
            </div>

            <div class="row form-row advanced-datacenters">
                <div class="col-xs-2 form-col dc1-div"></div>
                <div class="col-xs-2 form-col dc2-div"></div>
                <div class="col-xs-2 form-col dc3-div"></div>
                <div class="col-xs-2 form-col dc4-div"></div>
                <div class="col-xs-2 form-col dc5-div"></div>
                <div class="col-xs-2 form-col dc6-div"></div>
            </div>

            <div class="row form-row">
                <div class="col-xs-4 form-col">
                    <label data-toggle="tooltip" data-placement="bottom"
                           title="Enable Hadoop on all Spark nodes">
                        Spark-Hadoop
                    </label>

                    <div class="checkbox">
                        <label>
                            <input id="spark-and-hadoop" name="spark-and-hadoop"
                                   type="checkbox" class="padded-input"/>
                            Enabled
                        </label>
                    </div>
                </div>
                <div class="col-xs-5 form-col">
                    <label for="num-of-tokens"
                           data-toggle="tooltip" data-placement="bottom"
                           title="0 disables vnodes">
                        Number of Tokens
                    </label>
                    <input id="num-of-tokens" name="num-of-tokens"
                           value=0
                           class="number-input"
                           type="text" list="num-of-tokens-list"/>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-xs-4 form-col">
                    <label>Opscenter</label>
                        <span class="radio">
                            <label>
                                <input type="radio" name="opscenter-install"
                                       id="opscenter-yes"
                                       value="yes"
                                       checked>
                                Installed
                            </label>
                        </span>
                        <span class="radio">
                            <label>
                                <input type="radio" name="opscenter-install"
                                       id="opscenter-no"
                                       value="no">
                                Not Installed
                            </label>
                        </span>
                </div>
                <div class="col-xs-4 form-col">
                        <span>
                            <label for="opscenter-version">OpsCenter
                                Version</label>
                            <input id="opscenter-version"
                                   name="opscenter-version"
                                   value="5.1.0"
                                   class="version-input"
                                   type="text" list="opscenter-version-list"/>
                        </span>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-xs-4 form-col">
                    <label>Cloud Provider</label>
                        <span id="gce" class="radio">
                            <label title="Not currently implemented. Planned."
                                   data-toggle="tooltip"
                                   data-placement="left"
                                   data-container="body">
                                <input type="radio" name="cloud-option"
                                       id="gce"
                                       value="gce"
                                       checked
                                       disabled>
                                GCE
                            </label>
                        </span>
                        <span id="ec2" class="radio">
                            <label id="ec2-label"
                                   title="Please consider running in GCE to save on costs."
                                   data-toggle="tooltip"
                                   data-placement="right"
                                   data-container="body">
                                <input type="radio" name="cloud-option"
                                       id="ec2"
                                       value="ec2"
                                       checked>
                                EC2
                            </label>
                        </span>
                </div>
                <div class="col-xs-5 form-col">
                    <label for="instance-type">
                        Instance Type</label>
                    <input id="instance-type" name="instance-type"
                           class="instance-type-input"
                           type="text" list="instance-type-list-ec2"
                           value="m1.large"/>
                    <a class="instance-type-help"
                       title="GCE machine types"
                       data-toggle="tooltip"
                       data-container="body"
                       href="https://cloud.google.com/compute/docs/machine-types"
                       target="_blank">?</a>
                    <a class="instance-type-help"
                       title="EC2 current gen instance types"
                       data-toggle="tooltip"
                       data-container="body"
                       href="http://aws.amazon.com/ec2/instance-types/#instance-type-matrix"
                       target="_blank">?</a>
                    <a class="instance-type-help"
                       title="EC2 previous gen instance types"
                       data-toggle="tooltip"
                       data-container="body"
                       href="http://aws.amazon.com/ec2/previous-generation/#Previous_Generation_Instance_Details"
                       target="_blank">?</a>
                </div>
                <div class="col-xs-3 form-col">
                    <label for="platform">Platform</label>
                    <input id="platform" name="platform"
                           class="platform-input"
                           type="text" list="platform-list"
                           value="ubuntu"/>
                </div>
            </div>

            <div class="row form-row">
                <div class="col-xs-4 form-col">
                    <label>TTL</label>
                        <span>
                            <label for="ttl-days" class="sr-only">TTL
                                Days</label>
                            <input id="ttl-days" name="ttl-days"
                                   class="number-input"
                                   value=0
                                   type="tel" list="ten-count"/>
                            days
                        </span>
                        <span>
                            <label for="ttl-hours" class="sr-only">TTL
                                Hours</label>
                            <input id="ttl-hours" name="ttl-hours"
                                   class="number-input"
                                   value=2
                                   type="tel" list="ten-count"/>
                            hours
                        </span>
                </div>
                <div class="col-xs-2 form-col">
                    <label>Max Cost</label>
                    $ 4.08
                </div>
            </div>

            <div class="col-xs-offset-3 col-xs-6">
                <button type="submit" class="btn btn-default btn-success"
                        id="submit-button">
                    Launch
                </button>
            </div>
        </form>
    </div>
    </div>

    <div class="launched-spacer"></div>

    <div class="col-xs-offset-1 col-xs-9">
    <h3 class="col-xs-offset-1">Mockup of Launched Data (Real Data Currently Under Dashboard)</h3>
    <div class="form-border launched-clusters col-xs-offset-1 col-xs-9">
        <div class="row form-row">
            <div class="col-xs-4 form-col" id="clustername-col">
                <label for="clustername">Cluster Name</label>
                Cluster Name
            </div>
            <div class="col-xs-4 form-col">
                <label>Product</label>
                Enterprise
            </div>
            <div class="col-xs-3 form-col">
                <label for="dse-version">DSE Version</label>
                4.5.3-1
            </div>
        </div>

        <div class="row form-row">
            <div class="col-xs-2 form-col">
                <label for="cassandra-nodes">Cassandra</label>
                3
            </div>
            <div class="col-xs-2 form-col">
                <label for="spark-nodes">Spark</label>
                3
            </div>
            <div class="col-xs-2 form-col">
                <label for="search-nodes">Search</label>
                4
            </div>
            <div class="col-xs-2 form-col">
                <label for="hadoop-nodes">Hadoop</label>
                0
            </div>
        </div>

        <div class="row form-row">
            <div class="col-xs-4 form-col">
                <label data-toggle="tooltip" data-placement="bottom"
                       title="Enable Hadoop on all Spark nodes">
                    Spark-Hadoop
                </label>

                Enabled
            </div>
            <div class="col-xs-5 form-col">
                <label for="num-of-tokens"
                       data-toggle="tooltip" data-placement="bottom"
                       title="0 disables vnodes">
                    Number of Tokens
                </label>
                256
            </div>
        </div>

        <div class="row form-row">
            <div class="col-xs-4 form-col">
                <label>Opscenter</label>
                    <span class="radio">
                        <label>
                            Installed
                        </label>
                    </span>
            </div>
            <div class="col-xs-4 form-col">
                    <span>
                        <label for="opscenter-version">
                            OpsCenter Version</label>
                        5.0.0-1
                    </span>
            </div>
        </div>

        <div class="row form-row">
            <div class="col-xs-4 form-col">
                <label>TTL</label>
                    <span>
                        <label for="ttl-days" class="sr-only">TTL Days</label>
                        0 days
                    </span>
                    <span>
                        <label for="ttl-hours" class="sr-only">TTL Hours</label>
                        8 hours
                    </span>
            </div>
            <div class="col-xs-4 form-col">
                <label for="instance-type">
                    Instance Type</label>
                n1-standard-2
                <a href="https://cloud.google.com/compute/docs/machine-types"
                   target="_blank">?</a>
            </div>
            <div class="col-xs-2 form-col">
                <label>Max Cost</label>
                $ 4.08
            </div>
        </div>

        <div class="row form-row text-center">
            <a class="reveal" href="#">-- more --</a>
        </div>

        <div class="row form-row">
            <div class="col-xs-2 form-col">
                <label>Public IP Addresses</label>
            </div>
            <div class="col-xs-2 form-col">
                <ul>
                    <li>54.123.45.678</li>
                    <li>54.123.45.678</li>
                    <li>54.123.45.678</li>
                </ul>
            </div>
            <div class="col-xs-2 form-col">
                <label>Private IP Addresses</label>
            </div>
            <div class="col-xs-2 form-col">
                <ul>
                    <li>172.123.45.678</li>
                    <li>172.123.45.678</li>
                    <li>172.123.45.678</li>
                </ul>
            </div>
            <div class="col-xs-1 form-col">
                <a href="">Pem File</a>
            </div>
        </div>

        <div class="row form-well well">
            <div class="col-xs-12 form-col">
                downloadpem e9c821fd5db6212a7f37ee3b9da36b7f
            </div>
            <div class="col-xs-12 form-col">
                <ul>
                    <li>ssh -i ~/.ssh/datastax-demos/e9c821f.pem -o
                        StrictHostKeyChecking=no ubuntu@54.123.45.678
                    </li>
                    <li>ssh -i ~/.ssh/datastax-demos/e9c821f.pem -o
                        StrictHostKeyChecking=no ubuntu@54.123.45.678
                    </li>
                    <li>ssh -i ~/.ssh/datastax-demos/e9c821f.pem -o
                        StrictHostKeyChecking=no ubuntu@54.123.45.678
                    </li>
                </ul>
            </div>
        </div>

    </div>
    </div>
{% endblock %}

{% block tail %}
    <script src="{{ url_for('static',
                    filename='bootstrapvalidator/dist/js/bootstrapValidator.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/popover.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-confirmation/bootstrap-confirmation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ctool.js') }}"></script>
{% endblock %}
